@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #131921;
    --cor-body: #F7F7F7;
}

body {
    background-color: var(--cor-body) ;
    font-family: Arial, Helvetica, sans-serif
    ;
}


header {
    background-color: var(--cor-principal);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
}


header h1 {

    font-size: 1.0rem;

}

nav li {
    list-style:none;
}

.container {
    width: 80%;
    margin: 100px auto;
}


.cotacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 30px;
}


.atualizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}


.titulo-cotacao {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
